*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, STHeiti;
    overflow-x: hidden;
}



/*8~63 主体第一*/
.sx1{
    background: url(../img/ylf/serbanner_bg.jpg)
    no-repeat center center fixed;
    padding: 120px 0 80px 0;
    text-align: center;
    background-size: cover;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1060px;
}
.sx1_tit {
    color: #ffffff;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}
.sx1_tit h4 {
    letter-spacing: 3px;
    font-size: 30px;
    margin: 0 0 15px;
    color: #fff;
    line-height: 38px;
}
.sx1_tit p {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    margin: 0;
    opacity: 0.8;
}
.sx1_cont {
    display: flex;
    color: #fff;
    justify-content: space-around;
    margin-top: 60px;
    position: relative;
}
.sx1_cont li{
    opacity: 0;
    bottom: -200%;
    position: relative;
}
.sx1_ico {
    margin-bottom: 18px;
}
.sx1_ico img {
    width: 52px;
}
img {
    border: 0 none;
}
.sx1_cont p {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}






/*71~229 主体第二*/
.sx2{
    padding: 80px 0;
    text-align: center;
}
.container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1300px;
}
.ind3_tit h2 span::after {
    content: '';
    width: 80px;
    height: 2px;
    background: #851217;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-45px,5px) rotate(-45deg);
}
.sx2_tit{
    margin-bottom: 40px;
}
.ser2_tit .ind3_tit {
    margin-bottom: 40px;
}
.tit_cent {
    text-align: center;
}
.ind3_tit {
    margin-bottom: 60px;
}
.ind3_tit span {
    font-size: 64px;
    color: #333;
    text-transform: capitalize;
    font-family: AnticDidone-Regular;
    letter-spacing: 3px;
    margin-right: 30px;
    font-weight: 500;
}
.ind3_tit h2 {
    color: #666;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
}
.sx2_tit p {
    font-size: 16px;
    color: #666;
    margin: 0;
    text-align: center;
}
.sx2_cont {
    margin-top: 60px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.ser2_bott {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}
ul.sx2_cont li {
    float: left;
    width: 20%;
    margin-bottom: 40px;
}
.sx2_top li{
    opacity: 0;
    bottom: -100%;
    position: relative;
}

.sx2_bott li{
    opacity: 0;
    bottom: -160%;
    position: relative;
}

.arrow{
    width: 10px;
    height: 10px;
    border-top: 2px solid #851217;
    border-right: 2px solid #851217;
    transform: rotate(45deg);
    position: absolute;
    top:40%;
    right: 0px;
}
.sx2_top li:last-child i {
    bottom: -40px;
    top: auto;
    transform: translate(0,0) rotate(180deg);
    right: 60%;
}
.arrow1{
    width: 10px;
    height: 10px;
    border-top: 2px solid #851217;
    border-right: 2px solid #851217;
    transform: rotate(220deg);
    position: absolute;
    top:40%;
    right: 0px;
}
.arrow2{
    width: 10px;
    height: 10px;
    border-top: 2px solid #851217;
    border-right: 2px solid #851217;
    transform: rotate(220deg);
    position: absolute;
    top:40%;
}
.sx2_bott {
    width: 80%;
    margin: 0 auto;
}
.sx2_cont .sx2_bott li {
    width: 25%;
    float: right;
}
ul .sx2_cont li {
    float: left;
    width: 20%;
    margin-bottom: 40px;
}
.sx2_img {
    max-width: 60px;
    margin: 0 auto;
}
.sx2_cont h5 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #666;
    margin: 14px 0 0 0;
}
.sx2_img img {
    max-width: 100%;
}
.sx2_cont h5 {
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #666;
    margin: 14px 0 0 0;
}
.sx2_top:after, .sx2_bott:after {
    content: '';
    display: table;
    clear: both;
}
ul.sx2_cont:after {
    content: '';
    display: table;
    clear: both;
}
li{
    list-style: none;
}







/*238~317 主体第三*/
.sx3{
    padding: 80px 0;
    text-align: center;
    background: url(../img/ylf/ser03bg.jpg) no-repeat center center;
    background-size: cover;
}
.sx3_cont img{
    opacity: 0;
    bottom: -100%;
    position: relative;
}
.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 182px;
    margin-left: 182px;
}
.sx3_tit .ind4_tit {
    margin-bottom: 40px;
}
.tit_cent {
    text-align: center;
}
.ind4_tit {
    margin-bottom: 60px;
}
.ind4_tit.tit_white h2 {
    color: #eee;
}
.ind4_tit h2 {
    font-size: 18px;
    color: #666;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
}
.ind4_tit.tit_white h2 span {
    color: #fff;
}
.ind4_tit h2 span {
    font-size: 64px;
    color: #333;
    text-transform: capitalize;
    font-family: AnticDidone-Regular;
    letter-spacing: 3px;
    font-weight: 600;
    margin-right: 30px;
}
.ind4_tit.tit_white h2 span:after {
    background: #fff;
}
.ind4_tit h2 span:after {
    content: '';
    width: 80px;
    height: 2px;
    background: #851217;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-45px,5px) rotate(-45deg);
}
.sx3_tit p{
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    margin: 0;
    opacity: 0.8;
}
.sx3_cont {
    margin-top: 40px;
    transition-timing-function:linear;
    transition:1.5s;
    transition-duration:1.2;
    perspective:200px;
}
/* .sx3_cont img{
    max-width: 100%;
    position: relative;
    top: 0px;
    opacity: 1;
}
.sx3_cont:hover{
    transform:rotate3D(0.5,0,0,360deg);
}  
*/











/*330~402 主体第四*/
.sx4 {
    padding: 80px 0;
    text-align: center;
}
.container3 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 62px;
    margin-left: 62px;
}
.sx4_tit .ind3_tit {
    margin-bottom: 40px;
}
.tit_cent {
    text-align: center;
}
.ind3_tit span {
    font-size: 64px;
    color: #333;
    text-transform: capitalize;
    font-family: AnticDidone-Regular;
    letter-spacing: 3px;
    font-weight: 600;
    margin-right: 30px;
}
.sx4_tit p {
    font-size: 16px;
    line-height: 28px;
}
.sx4_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.sx4_cont li{
    opacity: 0;
    bottom: -200%;
    position: relative;
}


ul.sx4_cont li {
    padding: 0 20px;
    position: relative;
    
}
.sx4_cont_img {
    max-width: 180px;
    margin-bottom: 18px;
}
.sx4_cont img {
    width: 100%;
}
.sx4_cont h5 {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    margin: 0 0 6px;
    font-weight: bold;
    letter-spacing: 1px;
}
.sx4_cont p {
    font-size: 14px;
    color: #666;
    margin: 0;
    line-height: 24px;
}
#dg:hover{
    transform:scale(1.5);
}
#dg{
    transition-duration:1.8;
    transition-timing-function:linear;
    transition:1s;
}
.sx4_cont_img img:hover{
    transform:translate(-30px,-30px) scale(1.5);
    transition:all 0.5s ease;
}







/*411~518 主体第五*/
.ser5_box{
    padding: 80px 0;
    text-align: center;
    background: url(../img/ylf/ser03bg1.jpg) no-repeat center center;
    background-size: cover;
}
.container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 62px;
    margin-left: 62px;
}
.ser5_tit {
    color: #ffffff;
    margin: 0 auto;
}
.ser5_tit p {
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    line-height: 28px;
    margin: 0;
}
.ser5_tit .ind5_tit {
    margin-bottom: 40px;
}
.tit_cent {
    text-align: center;
}
h2{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.ind5_tit h2 {
    font-size: 18px;
    color: #eee;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
}
.ind5_tit span {
    font-size: 64px;
    color: #fff;
    text-transform: capitalize;
    font-family: AnticDidone-Regular;
    letter-spacing: 3px;
    font-weight: 600;
    margin-right: 30px;
    position: relative;
}
.ind5_tit .tit_white h2 span:after {
    background: #fff;
}
.ind5_tit h2 span:after {
    content: '';
    width: 80px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(-45px,5px) rotate(-45deg);
}
.ser5_cont {
    margin-top: 50px;
    display: flex;
    color: #fff;
    justify-content: space-around;
}

.ser5_cont li{
    opacity: 0;
    bottom: -160%;
    position: relative;
}


.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.ser5_lis {
    max-width: 200px;
    margin: 0 auto;
}
.ser5_cont_img {
    max-width: 120px;
    margin: 0 auto 20px;
}
.ser5_cont img {
    width: 100%;
}
img {
    border: 0 none;
}
.ser5_cont h5 {
    font-size: 18px;
    color: #fff;
    line-height: 26px;
    margin: 10px 0 15px;
}
.ser5_cont p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    margin: 0 auto;
    opacity: 0.8;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  .ggg{
      transition-duration: 3s;
      transition-property: width;
      transition-timing-function: ease;
      transition-delay: 3s;
  }
